@model IEnumerable<JobsWebApp.Core.Models.UserProfile>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Search Results</h2>

<ul>
    @foreach (var userProfile in Model)
    {
        <li><a asp-action="Search" asp-route-id="@userProfile.Id">@userProfile.UserName</a></li>
    }
</ul>

